.project-grid{
display:flex;
justify-content: center;

}

.category-tabs{
    display: flex;
    justify-content: center;
    margin: auto;
    flex-direction: column;
    
}

.content-title{
    width: 100%;
}

.projectcard{
    margin: 10px;
}

.content-title h1{
    font-family: "Anton", sans-serif;
    color: blue;
}