.contact-body {
  margin: auto;
  background: grey;
  position: fixed;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding-top: 2em;
  bottom: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.contact-grid {
  text-align: center;
  justify-content: center;
  width: 80%;
  height: 1000px;
  background: white;
  color: black;
  border: 2px solid red;
  margin-bottom: 20px;
}

.contact-grid h2 {
  font-family: "Anton", sans-serif;
}
.contact-grid p {
  font-family: "Oxygen", sans-serif;
  font-family: bold;
}
.contact-grid hr {
  border-top: 5px dotted black;
  width: 50%;
  margin: auto;
}
.contact-list {
  font-size:66px;
  padding-right: 5rem;
}
